<nav class="site-navbar">
  <div class="site-navbar__inner">
    <a class="site-navbar__logo" href="#" routerLink="/" title="Ir a la página principal"><img src="/assets/img/logo_white.png" alt="Logotipo de la tienda"></a>
    <div class="navigation-wrapper">
      <ul class="navigation-group navigation-group--store">
        <li class="navigation-element">
          <a href="#" routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i>Inicio</a>
        </li> 
        <li class="navigation-element">
          <a href="#"><i class="fa fa-home"></i>Catálogo</a>
        </li> 
        <li class="navigation-element">
          <a href="#"><i class="fa fa-home"></i>Ofertas</a>
        </li> 
        <li class="navigation-element submenu-parent">
          <a href="#">Búsqueda rápida <i class="fa fa-angle-down"></i></a>
          <ul class="navigation-submenu">
            <li class="navigation-element">
              <a href="#"><i class="fa fa-home"></i>Buscar por modelo de auto</a>
            </li>
            <li class="navigation-element">
              <a href="#"><i class="fa fa-home"></i>Buscar por medidas de llanta</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navigation__account-actions" *ngIf="true">
        <span>Usuario</span>
        <img src="/assets/img/nouser.png" alt="Foto de perfil" class="navigation__account-profile-pic">
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="navigation-account" *ngIf="false">
        <a href="#" routerLink="/login">Iniciar sesión</a>
        <a href="#" routerLink="/register">Registrarse</a>
      </div>
      <div class="user-menu-dropdown" #dropdownMenu>
        <div class="user-menu-dropdown__header" *ngIf="true">
          <img class="user-menu-dropdown__profile-pic" src="/assets/img/nouser.png" alt="Foto de perfil">
          <div class="user-menu-dropdown__header-actions">
            <span class="user-menu-dropdown__welcome">¡Hola, Usuario!</span>
            <a class="user-menu-dropdown__logout" href="#">Cerrar sesión</a>
          </div>
        </div>
        <div *ngIf="false">
          <img src="#" alt="Foto de perfil" class="profile-pic">
          Bienvenido <br>
          <a href="#" routerLink="/login">Iniciar sesión</a>
          <a href="#" routerLink="/register">Registrarse</a>
        </div>
        <hr>
        <ul class="navigation-group navigation-group--user">
          <li class="navigation-element">
          <a href="#"><i class="fa fa-home"></i>Mi cuenta</a>
          </li> 
          <li class="navigation-element">
            <a href="#"><i class="fa fa-home"></i>Mis pedidos</a>
          </li> 
          <li class="navigation-element">
            <a href="#"><i class="fa fa-home"></i>Favoritos</a>
          </li> 
          <li class="navigation-element">
            <a href="#"><i class="fa fa-home"></i>Configuraciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>