<nav class="site-navbar">
  <div class="site-navbar__inner">
    <button (click)="toggleMobileMenu()" class="site-navbar__toggle-button">
      <i [ngClass]="{'fa': true, 'fa-times': showMenu, 'fa-bars': !showMenu}"></i>
    </button>
    <a class="site-navbar__logo" href="#" routerLink="/" title="Ir a la página principal"><img src="/assets/img/logo_white.png" alt="Logotipo de la tienda"></a>
    <div [ngClass]="{'navigation-wrapper':true, 'show': showMenu}">
      <ul [ngClass]="{'navigation-group navigation-group--store':true, 'logged-user': user}">
        <li class="navigation-element">
          <a href="#" routerLink="" routerLinkActive="active"><i class="fa fa-home"></i>Inicio</a>
        </li> 
        <li class="navigation-element">
          <a href="#"><i class="fa fa-th-large"></i>Catálogo</a>
        </li> 
        <li class="navigation-element">
          <a href="#"><i class="fa fa-percentage"></i>Ofertas</a>
        </li> 
        <li class="navigation-element submenu-parent">
          <a href="#">Búsqueda rápida <i class="fa fa-angle-down"></i></a>
          <ul class="navigation-submenu">
            <li class="navigation-element">
              <a (click)="toggleByCarModal()" href="#"><i class="fas fa-car"></i>Buscar por modelo de auto</a>
            </li>
            <li class="navigation-element">
              <a (click)="toggleBySizeModal()" href="#"><i class="fas fa-ruler"></i>Buscar por medidas de llanta</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navigation__account-actions" *ngIf="user">
        <span>Usuario</span>
        <img src="/assets/img/nouser.png" alt="Foto de perfil" class="navigation__account-profile-pic">
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="navigation__account-actions" *ngIf="user === null">
        <a class="site-button site-button--transparent" href="#" routerLink="/login">Inicia sesión</a>
        <a class="site-button" href="#" routerLink="/register">Crea tu cuenta</a>
      </div>
      <div class="user-menu-dropdown" #dropdownMenu>
        <div class="user-menu-dropdown__header">
          <img class="user-menu-dropdown__profile-pic" src="/assets/img/nouser.png" alt="Foto de perfil">
          <div [ngClass]="{'user-menu-dropdown__header-actions':true, 'logged-user': user}">
            <span class="user-menu-dropdown__welcome">
              <ng-container *ngIf="user">¡Hola, Usuario!</ng-container>
              <ng-container *ngIf="user === null">Bienvenido</ng-container>
            </span>
            <a class="user-menu-dropdown__logout" href="#" *ngIf="user" (click)="_authService.logout()">Cerrar sesión</a>
            <ng-container *ngIf="user === null">
            <a class="site-button site-button" href="#" routerLink="/login">Inicia sesión</a>
            <a class="site-button site-button--solid" href="#" routerLink="/register">Crea tu cuenta</a>
            </ng-container>
          </div>
        </div>
        <hr>
        <ul class="navigation-group navigation-group--user" *ngIf="user">
          <li class="navigation-element">
          <a href="#"><i class="fa fa-user-circle"></i>Mi cuenta</a>
          </li> 
          <li class="navigation-element">
            <a href="#"><i class="fa fa-truck"></i>Mis pedidos</a>
          </li> 
          <li class="navigation-element">
            <a href="#"><i class="fa fa-heart"></i>Favoritos</a>
          </li> 
          <li class="navigation-element">
            <a href="#"><i class="fa fa-cogs"></i>Configuraciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>