/* Barra de navegación utilizando técnicas mobile-first */

* {
    box-sizing: border-box !important;
}

.fa, .fas {
    font-size: 1.3em;
    text-align: center;
    width: 1.3em;
}

/* Contenedores generales */

.site-navbar {
    background: #333;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 18px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 900;
}

.site-navbar__inner {
    height: 48px;
    margin: 0 auto;
    position: relative;
    width: 96%;
}

.navigation-wrapper {
    background: white;
    color: #333;
    display: flex;
    flex-flow: column;
    height: calc(100vh - 48px);
    left: 0;
    overflow-y: scroll;
    padding: 25px 10px;
    position: fixed;
    top: 48px;
    width: 100vw;
    z-index: 1000;
}

.site-navbar .site-button {
    font-family: OpenSans;
    font-weight: normal;
}

.site-navbar .site-button:nth-of-type(2) {
    margin-left: 0.5em;
}

/* Botón */
.site-navbar__toggle-button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    position: absolute;
    top: 11px;
}

/* Logotipo */

.site-navbar__logo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
}

.site-navbar__logo img {
    height: 30px;
}

/* Vinculos */

li a {
    color: inherit;
}

.navigation-wrapper a {
    text-decoration: none;
}

.navigation-group a.active {
    font-weight: bold;
}

.navigation-element.submenu-parent > a {
    display: none;
}

/* Estilos generales de "listas" de vínculos */

.navigation-group {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-submenu {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}

.navigation-element:not(.submenu-parent) {
    padding: 14px 0;
}

.navigation-element a {
    display: inline-block;
    height: 100%;
}

.navigation-element .fa,
.navigation-element .fas {
    margin-right: 15px;
}

/* Links del sitio */

.navigation-group--store.logged-user {
    border-top: #ccc 1px solid;
    margin-top: 13px;
    padding-top: 13px;
}

/* Triggers para el dropdown */

.navigation__account-actions {
    display: none;
}

.navigation__account-profile-pic {
    border-radius: 100%;
    display: none;
    height: 35px;
    width: 35px;
}

.navigation__account-actions .site-button {
    color:  #bbb;
}

.navigation__account-actions .site-button:not(.site-button--transparent) {
    border-color: #bbb;
}

.navigation__account-actions .site-button:not(.site-button--transparent):hover {
    border-color: #666;
}

/* Dropdown */

.user-menu-dropdown {
    order: -1;
}

.user-menu-dropdown__header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.user-menu-dropdown__header-actions {
    color: #555;
    flex-grow: 1;
    margin-left: 6px;
}

.user-menu-dropdown__header-actions.logged-user {
    margin-left: 20px;
}

.user-menu-dropdown__profile-pic {
    border-radius: 100%;
    height: 72px;
}

.user-menu-dropdown__welcome {
    display: block;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 9px;
}

.logged-user .user-menu-dropdown__welcome {
    margin-bottom: 12px;
}

.user-menu-dropdown__logout {
    display: block;
    font-size: 16px;
}

.user-menu-dropdown__logout, 
.user-menu-dropdown__logout:hover,
.user-menu-dropdown__logout:visited {
    color: #555;
}

.user-menu-dropdown .site-button {
    color:  #555;
    font-size: 8px;
    padding: 0.8em 0.5em;
}

.user-menu-dropdown .site-button:hover,
.user-menu-dropdown .site-button:active {
    color: white;
}

.user-menu-dropdown .site-button--solid {
    color: white;
} 

.user-menu-dropdown .site-button:nth-of-type(2) {
    margin-left: 0.3em;
}

.user-menu-dropdown .site-button:not(.site-button--transparent) {
    border-color: #bbb;
}

.user-menu-dropdown hr {
    background: #ccc;
    border: none;
    height: 1px;
    margin-top: 22px;
}


/* AJUSTES MENORES DE TEXTO EN RESOLUCIONES NO TAN PEQUEÑAS*/
@media screen and (min-width: 366px){
    .navigation-wrapper {
        padding: 25px 20px;
    }
    .navigation-group, .user-menu-dropdown__logout {
        font-size: 18px;
    }
    .user-menu-dropdown__welcome {
        font-size: 22px;
    }
    .user-menu-dropdown .site-button {
        font-size: 15px;
        padding: 0.5em 0.7em;
    }
}

@media screen and (min-width: 420px){
    .navigation-wrapper {
        padding: 25px 25px;
    }
    .user-menu-dropdown__header-actions:not(.logged-user) {
        margin-left: 13px;
    }
}

@media screen and (min-width: 500px){
    .user-menu-dropdown .site-button {
        font-size: 18px;
    }
    .user-menu-dropdown__header-actions:not(.logged-user) {
        margin-left: 18px;
    }
}

@media screen and (max-width: 991px){
    .navigation-wrapper:not(.show) {
        display: none;
    }
    .navigation-wrapper.show {
        display: flex;
    }
}

/* ESTILOS DESKTOP/TABLETS GRANDES */
@media screen and (min-width: 992px){
    .site-navbar {
        font-size: 15px;
    }
    .site-navbar__inner {
        align-items: center;
        display: flex;
        height: 54px;
        margin: 0 auto;
        max-width: 1210px;
    }
    .navigation-wrapper {
        background: none;
        color: inherit;
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        left: initial;
        margin-left: 20px;
        padding: 0;
        position: relative;
        overflow: initial;
        top: initial;
        width: initial;
        z-index: initial;
    }
    .site-navbar__toggle-button {
        display: none;
    }
    .site-navbar__logo {
        display: block;
        height: initial;
        margin: 0;
        width: initial;
    }
    .site-navbar__logo img {
        height: 42px;
    }
    .navigation-element.submenu-parent > a {
        display: inline-block;
    }
    .navigation-submenu .navigation-element a {
        padding: 0;
    }
    .navigation-group {
        font-size: 15px;
    }
    .submenu-parent {
        position: relative;
    }
    .submenu-parent:hover .navigation-submenu {
        display: block;
    }
    .navigation-group--store {
        display: block;
    }
    .navigation-group--store.logged-user {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
    .navigation-group--store .navigation-element {
        display: inline-block;
    }
    .navigation-element:not(.submenu-parent) {
        padding: 0;
    }
    .navigation-group--store .navigation-element:not(.submenu-parent) .fa,
    .navigation-submenu .fa,
    .navigation-group--store .navigation-element:not(.submenu-parent) .fas,
    .navigation-submenu .fas {
        display: none;
    }
    .navigation-group--store li {
        margin: 0 13px;
    }
    .navigation-group--store li,
    .navigation-group--store a {
        height: 100%;
    }
    .navigation-group--store a {
        opacity: 0.8;
        padding: 18px 0;
    }
    .navigation-group--store a:hover, .navigation-group--store a.active {
        opacity: 1;
    }
    .navigation-group--store a.active {
        font-weight: bold;
    }
    .navigation-submenu::before {
        border-color: #fff transparent;
        border-style: solid;
        border-width: 0 15px 20px;
        content: ' ';
        display: block;
        left: 50%;
        position: absolute;
        top: -18px;
        transform: translate(-50%, 0);
        width: 0;
    }
    .navigation-submenu::after {
        display: block;
        content: ' ';
        height: 20px;
        left: 0;
        position: absolute;
        top: -18px;
        width: 100%;
    }
    .navigation-submenu {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
        display: none;
        left: 50%;
        padding: 15px 22px;
        position: absolute;
        top: 60px;
        transform: translate(-50%, 0);
        width: 170%;
        z-index: 900;
    }
    .navigation-submenu .navigation-element {
        color: #333;
        display: block;
        margin: 0;
        padding: 14px 0;
    }
    .navigation-submenu .navigation-element:hover {
        color: #000;
        font-weight: bolder;
    }
    .navigation-group--user {
        color: #333;
    }
    .navigation__account-actions {
        align-items: center;
        display: flex;
    }
    .navigation__account-actions span {
        cursor: pointer;
        font-weight: bold;
    }
    .navigation__account-profile-pic {
        cursor: pointer;
        display: initial;
        margin-left: 20px;
        margin-right: 5px;
    }
    .navigation__account-actions .fa {
        cursor: pointer;
    }
    .user-menu-dropdown {
        background: white;
        border-radius: 8px;
        box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
        padding: 25px 25px 18px 25px;
        position: absolute;
        right: -5px;
        top: 60px;
        width: 347px;
    }
    .user-menu-dropdown.show {
        display:block;
    }
    .user-menu-dropdown:not(.show) {
        display:none;
    }
    .user-menu-dropdown__header {
        position: relative;
    }
    .user-menu-dropdown__header::before {
        border-color: #fff transparent;
        border-style: solid;
        border-width: 0 15px 20px;
        content: ' ';
        display: block;
        position: absolute;
        right: 12px;
        top: -38px;
        width: 0;
    }
    .user-menu-dropdown__welcome {
        font-size: 20px;
    }
    .user-menu-dropdown__logout {
        font-size: inherit;
        margin-top: 15px;
    }
    .user-menu-dropdown__logout:hover {
        text-decoration: underline;
    }
    .user-menu-dropdown hr {
        margin: 20px 0 12px 0;
    }
    .navigation-group--user .navigation-element {
        padding: 10px 0;
    }
}

/* AJUSTES MENORES PARA PANTALLAS GRANDES */
@media screen and (min-width: 1300px){
    .user-menu-dropdown {
        right: -40px;
    }
    .user-menu-dropdown__header::before {
        right: 48px;
    }
}