<footer>
    <div class="site-footer">
        <div class="site-footer__copyright">
            <a href="#" routerLink="/" title="Ir a la página principal"><img src="/assets/img/logo_white.png" alt="Logotipo de la tienda"></a>
            Copyright © 2019 Lorem Ipsum Inc.<br>
            Av. Té ### CDMX
        </div>
        <ul class="site-footer__links">
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Políticas de privacidad</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <div class="site-footer__social">
            <h1 class="site-footer__social-title">Contáctanos:</h1>
            <ul class="site-footer__social-links">
                <li><a href="#"><i class="fas fa-mobile-alt"></i>55 5555 5555</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i>test@test.test</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>@test</a></li>
                <li><a href="#"><i class="fab fa-facebook"></i>/test</a></li>
            </ul>
        </div>
    </div>
</footer>
