:host {
  grid-template-columns: 0 1fr 0;
  text-align: center;
}

.carousel {
    grid-column: 1/-1;
    position: relative;
    width: 100%;
}

[nz-carousel-content] a img {
    height: 146px;
}
:host ::ng-deep .slick-list {
    height: 146px !important;
}
:host ::ng-deep .slick-dots li button {
    height: 6px;
    width: 25px;
}
:host ::ng-deep .slick-dots li.slick-active button {
    width: 33px;
}

[nz-carousel-content] a {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.quick-search {
    background: #444;
    color: #fff;
    grid-column: 1/-1;
    padding: 1em 0 1.6em 0;
}

.quick-search .fas {
    display: inline-block;
    text-align: center;
    margin-right: 0.6em;
    width: 1.2em;
}

.quick-search .site-button {
    margin: 0.5em;
}

.quick-search .site-button:not(:active):not(:hover) {
    border-color: white;
}

.quick-search .site-button:active,
.quick-search .site-button:hover {
    background: #222222;
    border-color: #222222;
}

.tire-brands .orange-title {
    line-height: 1;
    margin: 1.6em 0 0.9em 0;
}

.tire-brands__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.tire-brands__item {
    margin: 10px;
}

.tire-brands__item img {
    width: 150px;
}

.tire-brands > a {
    display: inline-block;
    margin: 1em 0 2em 0;
}

.gray-box {
    background: #f5f5f5;
}

.benefits .fas,
.benefits .fa {
    color: #2680dc;
    font-size: 50px;
}

.benefits__item {
    margin: 3em auto;
    width: 260px;
}

.benefits .orange-title {
    margin: 1em 0 0.6em 0;
}

.benefits p {
    margin: 0;
}

.benefits a {
    display: inline-block;
    margin-top: 0.85em;
}

.bottom-box {
    padding: 2.5em 0;
}

.bottom-box .orange-title {
    margin: 0 auto 1.5em auto;
    max-width: 600px;
    width: 91%;
}

.bottom-box .site-button {
    border-radius: 10px;
}

@media screen and (min-width: 340px) {
    [nz-carousel-content] a img {
        height: 171.5px;
    }
    :host ::ng-deep .slick-list {
        height: 171.5px !important;
    }
}

@media screen and (min-width: 768px) {
    [nz-carousel-content] a img {
        height: 255px;
    }
    :host ::ng-deep .slick-list {
        height: 255px !important;
    }
    .quick-search .site-button {
        font-size: 20px;
        padding: 0.8em 1.6em;
    }
    .tire-brands__item {
        margin: 18px;
    }
    .tire-brands > a {
        font-size: 20px;
        margin: 0.6em 0 1.8em 0;
    }
    .bottom-box {
        padding: 4em 0;
    }
    .bottom-box .orange-title {
        font-size: 28px;
        margin-bottom: 2em;
    }
    .bottom-box .site-button {
        padding: 1em 1.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
    .benefits {
        padding-bottom: 30px;
    }
    .benefits__item {
        align-items: center;
        display: grid;
        grid-template-areas: 
            "i t"
            "i p"
            "i a";
        text-align: left;
        width: 600px;
    }
    .benefits__item .fas,
    .benefits__item .fa {
        font-size: 70px;
        grid-area: i;
        margin-right: 0.5em;
    }
    .benefits__item .orange-title {
        font-size: 27px;
        grid-area: t;
    }
    .benefits__item p {
        font-size: 20px;
        grid-area: p;
    }
    .benefits__item a {
        font-size: 19px;
        grid-area: a;
    }
}

@media screen and (min-width: 930px) and (max-width: 991px), 
screen and (min-width: 1030px) {
    .tire-brands__items {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    :host {
      grid-template-columns: minmax(50px, 1fr) minmax(auto, 1199px) minmax(50px, 1fr);
    }
    .tire-brands {
        margin-top: 55px;
    }
    .bottom-box {
        margin-bottom: 70px;
    }
    .bottom-box .site-button {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {
    [nz-carousel-content] a img {
        height: 340px;
    }
    :host ::ng-deep .slick-list {
        height: 340px !important;
    }
}

@media screen and (min-width: 1100px) {
    .benefits {
        display: flex;
        justify-content: space-evenly;
        margin: 115px 0;
        position: relative;
    }
    .benefits__item {
        margin: 0;
        width: 230px;
    }
    .benefits__item:nth-child(2)::after,
    .benefits__item:nth-child(2)::before {
        background: #ccc;
        content: "";
        display: block;
        height: 170px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 1px;
    }
    .benefits__item:nth-child(2)::after {
        right: calc(33.5% + 14px);
    }
    .benefits__item:nth-child(2)::before {
        left: calc(33.5% + 14px);
    }
    .benefits__item .orange-title {
        font-size: 20px;
        margin: 1.4em 0 1em 0;
    }
}