<div class="carousel"></div>
<div class="quick-search">
    <h2>¡Ahorra tiempo, encuentra tus llantas ideales!</h2>
    <a class="site-button" href="#"><i class="fas fa-car"></i>Buscar por vehículo</a>
    <a class="site-button" href="#"><i class="fas fa-ruler"></i>Buscar por medidas</a>
</div>

<div class="gray-box tire-brands">
    <h2>Más de X marcas de llantas</h2>
    <a class="tire-brands__item" href="#"><img src="#" alt="Marca de llantas"></a>
    <a class="tire-brands__item" href="#"><img src="#" alt="Marca de llantas"></a>
    <a class="tire-brands__item" href="#"><img src="#" alt="Marca de llantas"></a>
    <a class="tire-brands__item" href="#"><img src="#" alt="Marca de llantas"></a>
    <a class="tire-brands__item" href="#"><img src="#" alt="Marca de llantas"></a>

    <a class="tire-brands__more" href="#">Ver todas</a>
</div>

<div class="benefits">
    <div class="benefits__item">
        <i class="fas fa-truck"></i>
        <h3>Directo a tu casa</h3>
        <p>Contamos con envío gratis a todo el país a partir de $XXX de compra.</p>
        <a href="#">Conoce más</a>
    </div>
    <div class="benefits__item">
        <i class="fas fa-credit-card"></i>
        <h3>Paga como quieras</h3>
        <p>Aceptamos más de XX formas de pago para que elijas la que más te guste.</p>
        <a href="#">Consulta las formas de pago</a>
    </div>
    <div class="benefits__item">
        <i class="fas fa-shield-alt"></i>
        <h3>Compra segura</h3>
        <p>Nos preocupa tu seguridad, por lo que tu información se mantiene protegida.</p>
        <a href="#">Conoce más</a>
    </div>
</div>

<div class="gray-box">
    <h2>Explora nuestro amplio catálogo y comprueba la calidad de nuestro servicio.</h2>
    <a class="site-button site-button--solid" href="#">Comienza a comprar</a>
</div>