/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans Regular"),
    local("OpenSans-Regular"),
    url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: normal;
  src: local("OpenSans Italic"),
    local("OpenSans-Italic"),
    url("/assets/fonts/Open_Sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: local("OpenSans Bold"),
    local("OpenSans-Bold"),
    url("/assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: local("Montserrat Medium"),
    local("Montserrat-Medium"),
    url("/assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: local("Montserrat SemiBold"),
    local("Montserrat-SemiBold"),
    url("/assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

body {
    background: #fafafa;
    color: #333;
    font-family: OpenSans;
    font-size: 18px;
    padding-top: 48px;
}

h1, h2, h3, h4, h5, .title, .subtitle {
    font-family: Montserrat;
    font-weight: 500;
}

h2 {
  font-size: 21px;
}

.orange-title {
    color: #DC3636;
}

a {
    color: #2680DC;
}

a:hover, a:active {
    color: #0453DB;
}

.site-button {
    background: transparent;
    border-color: #333;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    display: inline-block;
    font-family: Montserrat;
    font-weight: 600;
    padding: 0.5em 1em;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
}

a.site-button {
    text-decoration: none;
}

.site-button--transparent {
    border-color: transparent;
}

.site-button--solid {
    background: #333;
    border-color: #333;
    color: #fff;
}

.site-button:hover,
.site-button:active {
    background: #666;
    border-color: #666;
    color: #fff;
}

.content-wrapper {
  display: grid;
  justify-content: center;
}

.content-wrapper > * {
  grid-column: 2;
}

@media screen and (min-width: 768px){
    h2 {
      font-size: 23px;
    }
}

@media screen and (min-width: 992px){
    body {
        padding-top: 54px;
        font-size: 16px;
    }
    h2 {
      font-size: 26px;
    }
}